.messenger {
    height: calc(100vh - 70px);
    display: flex;
}

.chatMenu {

    flex: 3.5;
}

.chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatMenuInput:focus {
    display: none;
}

.chatBox {

    flex: 4.5;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
}
.chatMessageInput:focus{
    outline: none;
}

.chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color:rgb(32, 122, 187);
    color: white;
}

.chatOnline {
    flex: 3;
}

.chatMenuWrapper {
    padding: 10px;
    height: 100%;
}

.chatBoxWrapper {
    position:relative;
    padding: 10px;
    height: 100%;
    /* display flex flex direction column i jc spacebet se pise da bi se ispod ceta nalazila forma za poruku*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatBoxTop {
    background-color: rgba(232, 232, 232, 0.63);
    padding:10px;
    border-radius: 20px;
    height: 100%;
    overflow: scroll;
    padding-right: 10px;
}

.chatOnlineWrapper {
    padding: 10px;
    height: 100%;
}
.noConversationText{
position:absolute;
top:10%;
font-size: 50px;
color:rgb(231, 231, 231);
text-align: center;
cursor: default;
}